<div class="card comment_box">
  <div class="card-body">
    <p class="card-text"><%= comment.comment %></p>
  </div>
  <div class="card-footer text-muted">
    <%= t(:Added_by) %>
    <%= comment.user.username %>
    <%= distance_of_time_in_words_to_now comment.created_at %>
    <%= t(:Ago) %>
  </div>
</div>