<div>
  <h2><%= t(:Hello) %>, <%= current_user.username %>!</h2>
  <div class="btn-group-vertical user_btns">
  <a href="<%= user_path(current_user.id) %>" class="btn btn-primary btn-lg active" role="button"
     aria-pressed="false"><%= t(:My_profile) %>
  </a>

  <a href="<%= edit_user_registration_path %>" class="btn btn-primary btn-lg active" role="button"
     aria-pressed="false"><%= t(:User_settings) %>
  </a>

  <a href="<%= new_exercise_path %>" class="btn btn-primary btn-lg active" role="button">
    <%= t(:New_exercise) %>
  </a>
  </div>
  <div class="flags">
    <a href="<%= current_path(locale: 'ru') %>">
      <%= image_tag 'ru.jpg', size: '54x36' %>
    </a>
    <a href="<%= current_path(locale: 'en') %>">
      <%= image_tag 'en.jpg', size: '54x36' %>
    </a>
  </div>
</div>
