<!DOCTYPE html>
<html>
  <head>
    <title>Trainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header class="masthead">
      <%= render 'layouts/header' %>
    </header>
    <main role="main" class="container" style="margin-top: 80px;">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <% if user_signed_in? %>
            <%= render 'layouts/sideBar' %>
          <% end %>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
